/examples/node_modules
.env
.env.local
.env.*.local
.DS_Store
/bin
/.eslintcache
/.speakeasy/reports
/react-query
/__tests__
/models
/models/errors
/node_modules
/funcs
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
/webhooks
.DS_Store
